@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'customFont';
    src: url('./fonts/Geist-Bold.otf') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'customFont';
    src: url('./fonts/Geist-Light.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'customFont';
    src: url('./fonts/Geist-SemiBold.otf') format('woff2');
    font-weight:semibold;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
    font-family: 'customFont', sans-serif;
    box-sizing: border-box;
}
body {
    background: white;
}
